* {
    margin: 0rem;
    padding: 0rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #1a1400;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: fit-content;
    min-width: 100vw;
    max-height: fit-content;
}
a {
    text-decoration: none;
}
/*Global*/
.main-child {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: fit-content;
    min-width: 100%;
    white-space: nowrap;
}
.nav-bar {
    display: flex;
    justify-content: center;
    width: 20rem;
    min-height: fit-content;
    max-height: 100vh;
    max-width: 20rem;
    white-space: nowrap;
    padding: 1rem;
    overflow: hidden;
}
.content-container {
    min-width: 80vw;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #fffdf5;
    overflow: hidden;
}
.icntrck {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    background: #1a1400;
    border-radius: 0.5rem;
}
.header-dash {
    display: flex;
    width: 90%;
    gap: 1rem;
    background: #fff3c5;
    overflow: hidden;
}
.header-dash-title h1 {
    font-size: 1.1rem;
    font-weight: 900;
}
.header-dash-title p {
    font-size: 0.7rem;
}

.header-dash {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 90%;
    padding: 0.9rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.menu-dash {
    padding: 1rem 0rem;
}
.menu-dash-title p {
    color: #b2b0a5;
}
.menu-dash-options {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
}
.menu-dash-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.menu-dash-options:hover {
    width: 100%;
    cursor: pointer;
    background: #ffe88e;
}

.logout-dash {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: #fff3c5;
    width: 80%;
    gap: 1rem;
    padding: 0.9rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.nav-bar-left {
    margin: 1rem;
    overflow: hidden;
}

.content {
    width: 80vw;
}
.nav-logout:hover {
    fill: currentColor;
}
.booking-data-type-header {
}
