* {
    margin: 0rem;
    padding: 0rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #1a1400;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}
body {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: fit-content;
    min-width: 100vw;
    max-height: fit-content;
}
a {
    text-decoration: none;
}
/*Global*/
.main-child {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    max-height: fit-content;
    min-width: 100%;
    white-space: nowrap;
}
.nav-bar {
    display: flex;
    justify-content: center;
    width: 20rem;
    min-height: fit-content;
    max-height: 100vh;
    max-width: 20rem;
    white-space: nowrap;
    padding: 1rem;
    overflow: hidden;
}

.nav-bar-mobile {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
    justify-content: center;
    width: 100%;
    height: 5rem;
    max-width: 100%;
    position: fixed;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    overflow: hidden;
    z-index: 1000;
}
.content-container {
    min-width: 80vw;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
.content-container-mobile {
    display: flex;
    margin-top: 10vh;
    width: 100vw;
    justify-content: center;
}
.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    border-radius: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #fffdf5;
    overflow: hidden;
}
.nav-bar-container-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    border-radius: 5rem;
    border: 1px solid #c6a00c;
    background: #fffdf5;
    overflow: hidden;
}
.icntrck {
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem;
    background: #1a1400;
    border-radius: 0.5rem;
}
.header-dash {
    display: flex;
    width: 90%;
    gap: 1rem;
    background: #fff3c5;
    overflow: hidden;
}
.header-dash-title h1 {
    font-size: 1.1rem;
    font-weight: 900;
}
.header-dash-title p {
    font-size: 0.7rem;
}

.header-dash {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    width: 90%;
    padding: 0.9rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.menu-dash {
    padding: 1rem 0rem;
}
.menu-dash-title p {
    color: #b2b0a5;
}
.menu-dash-options {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
}
.menu-dash-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.menu-dash-options:hover {
    width: 100%;
    cursor: pointer;
    background: #ffe88e;
}

.logout-dash {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background: #fff3c5;
    width: 80%;
    gap: 1rem;
    padding: 0.9rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.nav-bar-left {
    margin: 1rem;
    overflow: hidden;
}

.content {
    width: 80vw;
}

.content-mobile {
    background: white;
    height: fit-content;
    max-height: fit-content;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.nav-logout:hover {
    fill: currentColor;
}
.booking-data-type-header {
}

.notification {
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    items: center;
    justify-content: center;
    width: 30rem;
    height: 5rem;
    margin: 0rem 2rem 3rem 0rem;
    z-index: 1000;
    gap: 0.5rem;
}
.notification p {
    color: white;
}
.left-header {
    margin: 1rem 1rem 1rem 2.5rem;
}

.left-header h1 {
    font-size: 1.5rem;
}
.buttons-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    padding: 1rem;
    background: #fff2bc;
    border-radius: 1.2rem;
    gap: 0.5rem;
}
.buttons-mobile a {
    font-size: 1rem;
}
.logout-dash-mobile {
    display: flex;
    align-items: center;
    justify-conten: center;
    flex-direction: row;
    margin: 1rem 2rem 1rem 1rem;
    gap: 1rem;
}
.mobile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    items: center;
    background: #f9e490;
    border-radius: 4rem;
    padding: 0.7rem;
}
