* {
    margin: 0rem;
    padding: 0rem;
    font-family: Garamond, serif;
    font-size: 1rem;
}

/*Global*/
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.children-container {
    margin: 3rem;
    margin-top: 5rem;
}

/*Navigation bar*/
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    width: 100hv;
    margin: 2rem 15rem;
    background: ;
}

.nav-bar-left {
    display: flex;
    gap: 2rem;
}

.nav-bar-left a {
    text-decoration: none;
    color: black;
}
