.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    items: center;
    background: #1a1600;
    width: 100vw;
    height: 100vh;
    animation: Intro 0.5s ease-in forwards;
    overflow: auto;
}
.main-background-first h1 {
    display: none;
    letter-spacing: -1.2rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10em;
    font-weight: 900;
    color: #fffbe6;
}
.main-background {
    margin-top: 8rem;
    margin-right: 20rem;
}

.main-background h1 {
    letter-spacing: -1.2rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10em;
    font-weight: 900;
    color: #fffbe6;
}
.airplane-image {
    margin-right: 20rem;
    margin-bottom: 20rem;
    position: absolute;
    z-index: 100;
}
.truck-image {
    margin-right: 20rem;
    margin-top: 32rem;
    position: absolute;
    z-index: 100;
}
.main-title-group {
    display: flex;
    flex-direction: row;
    z-index: 99;
    overflow: hidden;
}
.title-front {
    position: relative;
    z-index: 101;
    animation: float 1.5s ease-in-out forwards;
}

.title-back {
    animation: reversefloat 2s ease-in-out forwards;
}
.copy-right {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    z-index: 102;
    margin-left: 53rem;
    overflow: hidden;
    gap: 0rem;
}
.copy-right h1 {
    font-size: 1.3rem;
}

.footer {
    margin-right: 20rem;
    animation: pop 2s forwards;
    display: flex;
    color: #ffed8a;
    flex-direction: column;
    z-index: 102;
    overflow: hidden;
}
.log-in {
    display: flex;
    flex-direction: column;
    flex-wrap: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 25vw;
    height: 100vh;
    background: #fffbe6;
    position: fixed;
    overflow: hidden;
    z-index: 105;
    animation: sideRL 1s ease-in forwards;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem;
    gap: 1rem;
}

.button-options {
    border-radius: 2rem;
    background: #1a1400;
    text-align: center;
    width: 5em;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

.button-options:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: scale(1.02);
    background: #ffc800;
    color: black;
}

.login-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 20rem;
    gap: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #1a1400;
}
.login-input a {
    cursor: pointer;
}
.login-input button {
    cursor: pointer;
    border: none;
    background: #a38000;
    border-radius: 1rem;
    padding: 0.2rem 1rem;
}
.login-input input {
    border: none;
    text-align: center;
    background: #ffe68a;
    border-radius: 1rem;
    padding: 0.5rem;
}
.login-input input:focus {
    outline: 1px solid #a38000;
}
.login-input button:hover {
    background: #ffd230;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@keyframes Intro {
    0% {
    }
    90% {
        background: #1a1600;
    }
    100% {
        background: #756400;
    }
}
@keyframes sideRL {
    0% {
        background: #1a1600;
        transform: translateX(500px);
    }
    50% {
        background: #473d00;
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes float {
    0% {
        transform: translateY(200px);
    }
    60% {
        transform: translateY(200px);
    }
    ,
    100% {
        transform: translateY(0);
    }
}

@keyframes reversefloat {
    0% {
        transform: translateY(-200px);
    }
    40% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
