.tablet-introduction {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    width: 90vw;
}
.tablet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 5rem 0;
    gap: 2rem;
}

.tablet-data {
    display: flex;
    flex-direction: column;
    width: 92vw;
    padding: 2rem;
    gap: 2rem;
    border-radius: 2rem;
    overflow-x: auto;
    box-sizing: border-box;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.tablet-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow-x: auto;
    box-sizing: border-box;
}
.table-wrapper {
    overflow-x: auto; /* horizontal scroll */
    box-shadow:
        rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tablet-table {
    border-collapse: collapse;
}
.tablet-table table {
    table-layout: fixed;
    width: 100%;
}
.tablet-table td,
.tablet-table th {
    width: 10rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem;
    height: 4rem;
}

.tablet-table tbody tr {
    gap: 1rem;
    border-bottom: 1px solid #ddd;
}
.tablet-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 10rem;
    background: #f8d800;
}
.tablet-details-shipment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    background: #f8d800;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider background */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc9c9;
    transition: 0.4s;
    border-radius: 34px;
}

/* Circle */
.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* ON state */
.switch input:checked + .slider {
    background-color: #4caf50;
}

.switch input:checked + .slider::before {
    transform: translateX(24px);
}

/* Disabled state */
.switch input:disabled + .slider {
    background-color: #999;
    cursor: not-allowed;
}
.scan-container {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 5rem;
    margin: 1rem;
}

.scan-camera p,
.scan-camera strong {
    font-size: 1.2rem;
}
.scan-camera button {
    display: flex;
    justify-conten: center;
    align-items: Center;
    gap: 2rem;
    border: none;
    background: none;
}
.scan-camera {
    display: flex;
    background: #e5c548;
    border-radius: 1rem;
    padding: 1rem;
}
.loaded-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.btn-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.camera-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    gap: 1rem;
    background: blue;
    padding: 0rem 0.5rem;
    color: white;
    border-radius: 0.5rem;
}

.ship-btn,
.confirm-btn,
.cancel-btn {
    width: 7rem;
    padding: 0.5rem;
    background: none;
    border: none;
    border-radius: 0.5rem;
}
.confirm-btn {
    background: #05df72;
    color: white;
}

.cancel-btn {
    background: #fa0511;
    color: white;
}
.ship-btn {
    background: #2b7fff;
    color: white;
}
.unload-container {
    display: flex;
    gap: 1rem;
}
.unload-container button {
    padding: 0.2rem;
    border-radius: 0.5rem;
    background: #e7180b;
    border: none;
    color: white;
}
.photo-container {
    display: flex;
    justify-content: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    margin: 3rem;
}
.photo-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    width: 95vw;
    height: 68vh;
    margin: 1rem 3rem 3rem 3rem;
    border-radius: 1rem;
}
.photo-data button {
    border: none;
    background: none;
}
.photo-click {
    display: flex;
    justify-content: end;
    padding: 1rem 2rem;
    width: 100%;
}
.photo-display {
    display: flex;
    align-items: center;
    background: none;
    justify-content: center;
    width: 70rem;
    height: 25rem;
    gap: 1rem;
}
.photo-title {
    margin-top: 2rem;
}

button.capture-btn {
    display: flex;
    padding: 2rem;
    border-radius: 3rem;
    margin: 0.5rem;
    background: red;
    color: white;
    gap: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button.save-btn {
    display: flex;
    padding: 2rem;
    border-radius: 3rem;
    margin: 0.5rem;
    background: #2776f5;
    color: white;
    gap: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.capture-container {
    display: flex;
    justify-content: end;
    width: 100%;
}
.captured-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    background: yellow;
}
.photo-status {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.photo-status-data {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
    border-radius: 1rem;
    height: 3rem;
    background: #fff7b8;
    gap: 1rem;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.photo-status-data button {
    display: flex;
    gap: 0.2rem;
    background: none;
    border: none;
}
.image-result {
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.image-container {
    display: flex;
    items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: #fee685;
}
.photo-captured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: white;
    width: 45vw;
    height: 60vh;
    margin-top: 2rem;
    border-radius: 1rem;
}
.photo-captured button {
    background: none;
    border: none;
}
.photo-image {
    margin: 1rem;
    width: 30rem;
    height: 25rem;
}
